#wholeCalc {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding: 2em;
    padding-top: 0;
    background-color: hsl(0, 0%, 18%);
    border-radius: 7px;
}

#output {
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 1em;
    margin: 1em 0;
    text-align: center;
    border-radius: 20px;
    height: 1em;
    overflow: auto;
}

#calcButtons {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

button {
    font-size: 2em;
    cursor: pointer;
}

#nums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#functions {
    display: grid;
    grid-template-columns: 1fr;
}